<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmebicorp.beliyiet.metromastercognac">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Metro Master"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="设置"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dongfangActivity"
            android:label="东方体育中心"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ToolsActivity"
            android:label="工具组"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutActivity"
            android:label="关于Metro Master"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StationActivity"
            android:label="线路"
            android:theme="@style/AppTheme"></activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2237a71a3fc8f740a9ddd93b6494a232">
            //Beliyiet申请的key~
        </meta-data>

        <activity android:name=".MetroMapActivity"></activity>
    </application>

</manifest>